{% load static %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>Start-Up, Youth Entrepreneurship</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Team Strength Detroit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- MAIN CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'sy.css' %}" />
  <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest Bootstrap compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cedarville+Cursive|Loved+by+the+King|Snippet|Sue+Ellen+Francisco|Voltaire" rel="stylesheet">
  <!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- AnimateCSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<!-- Lettering -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js">
<!-- WOW -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>


<!--
font-family: 'Voltaire', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Loved by the King', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Snippet', sans-serif;
-->

<script>
    $(function() {
      $(".img-w").each(function() {
        $(this).wrap("<div class='img-c'></div>")
        let imgSrc = $(this).find("img").attr("src");
         $(this).css('background-image', 'url(' + imgSrc + ')');
      })


      $(".img-c").click(function() {
        let w = $(this).outerWidth()
        let h = $(this).outerHeight()
        let x = $(this).offset().left
        let y = $(this).offset().top


        $(".active").not($(this)).remove()
        let copy = $(this).clone();
        copy.insertAfter($(this)).height(h).width(w).delay(500).addClass("active")
        $(".active").css('top', y - 8);
        $(".active").css('left', x - 8);

          setTimeout(function() {
        copy.addClass("positioned")
      }, 0)

      })




      })

      $(document).on("click", ".img-c.active", function() {
      let copy = $(this)
      copy.removeClass("positioned active").addClass("postactive")
      setTimeout(function() {
        copy.remove();
      }, 0)
      })
</script>
</head>

  <body style="">
    <!-- NAVIGATION BAR --><!-- NAVIGATION BAR --><!-- NAVIGATION BAR -->
    <nav class="navbar navbar-fixed-top" style="margin-bottom: -20px;">
      <div class="navbar-header">
      <a style="padding-top: -12px; font-size: 25px; font-family: 'Sue Ellen Francisco', cursive; text-align: center; display: block; color: white;" class="navbar-brand"  href="#"><img style=" height:50px; width:50px; padding-bottom:5px;" src="http://i.imgur.com/q0ULIpq.jpg?1"></a>
    </div>
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle menuText" data-toggle="dropdown" href="#">Projects
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a  class="menuText" href="{% url 'QQ' %}">Quarter Quts</a></li>
              <li><a  class="menuText" href="{% url 'SY' %}">Start-Up</a></li>
            </ul>
          </li>
          <li><a class="menuText" href="{% url 'blog' %}">BLOG</a></li>
<li><a style="color: gold;"class="menuText" href="{% url 'donate' %}">DONATE NOW</a></li>        </ul>
      </div>
</nav>
    <!-- NAVIGATION BAR --><!-- NAVIGATION BAR --><!-- NAVIGATION BAR -->



    <!-- MAIN SECTION --><!-- MAIN SECTION --><!-- MAIN SECTION -->
      <div class="container-fluid pageContainer">

          <!-- ABOUT -->
        <div class="row">
          <div class="col-xs-12 about">

            <div class="headerMenu">

              <div class="photoMenu">
                <i style="color: white; margin-top: -10px; padding: 5px 15px; box-shadow: 0 2px 1px 0 rgba(0,0,0,0.24), 0 3px 10px 0 rgba(0,0,0,0.19); background-color: rgba(52,117,147,0.9);" class="fa fa-newspaper-o fa-2x"></i><br>
                <button data-toggle="modal" data-target="#myModal"  class=" button button1 btn btn-danger">News</button>
              </div>

              <div class="contactForm">
                <i style="color:white; margin-top: -10px;  padding: 5px 18px;box-shadow: 0 2px 1px 0 rgba(0,0,0,0.24), 0 3px 10px 0 rgba(0,0,0,0.19); background-color: rgba(52,117,147,0.9);" class="fa fa-volume-control-phone fa-2x"></i><br>
                <button data-toggle="modal" data-target="#contactModal" class=" button button1 btn btn-danger">Contact</button>
              </div>

            </div>


                <!-- MODAL -->
                <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog" style="margin-top: 100px;">
                <!-- Modal content-->
                <div class="modal-content" style="height: 300px; background-color: rgba(0,0,0,0.9); border-radius: 0%;">
                  <div class="modal-body">

                    <h1 style="padding-top: -12px; font-size: 35px; font-family: 'Sue Ellen Francisco', cursive;
                    text-align: center; display: block; color: white;">Team Strength Detroit</h1>

                      <p style="color:white; font-size: 17px; text-align: center; margin-top: 50px;">
                        Thanks for visiting! Please share and look out for othe upcoming news and updates!</p>

                    <button style="position: absolute; top:225px; left:75%;
                    box-shadow: 0 2px 6px 0 rgba(255,255,255,0.24), 0 3px 10px 0 rgba(255,255,255,0.19);"

                    type="button" class="button button1" data-dismiss="modal" style="color: white;">Close</button>

                </div>
            </div>
            </div>
          </div>


          <div id="contactModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin-top: 50px;">
          <!-- Modal content-->

            <div class="modal-body">

              <form class=" animated slideInUp">
                <h1 class="fadeInDelayed" style="padding: 22px 0; font-size: 55px; font-family: 'Sue Ellen Francisco', cursive;
                text-align: center; display: block; color: black;">Quarter Quts</h1>
                {{ form.First_Name }} <br><br>
                {{ form.Last_Name }} <br><br>
                {{ form.from_email }}<br><br>
                {{ form.subject }} <br><br>
                {{ form.message }} <br><br>
                <button type="submit" style="float:center">Submit</button> </form>
              <div style="text-align: center;">
                <button style="margin-top: 20px; box-shadow: 0 2px 6px 0 rgba(255,255,255,0.24), 0 3px 10px 0 rgba(255,255,255,0.19);"
                type="button" class="button button1" data-dismiss="modal" style="color: white;">Close</button>
              </form>



          </div>
      </div>
      </div>
    </div>



            <h1 class="header animated slideInLeft wow">STARTUP
            <h1 class="headerTwo animated fadeInRightBig wow">Youth Entrepreneurship</h1></h1>
              <p class=" animated wow fadeInUp" style="width: 800px; margin: 0 auto; font-size: 30px; padding-top: 180px;">
                Start Up is designed to promote business ownership as a viable career option to middle school
                and high school youth. Over a 15 week course, youth will create and plan a business of their
                very own. Once their business plan is complete, youth will pitch their idea to panel
                of successful business owners who will then partner with youth to help develop their
                business even further.
              </p>
          </div>
        </div>
          <!-- WHAT YOUTH LEARN -->
        <div class="container-fluid wyl">
          <div class="col-md-12 ">
            <h1 class="wylHeader">WHAT YOUTH LEARN</h1>
          </div>
            <div class="row">
              <div class="col-md-4 col-xs-12 animated fadeInUp ">
                <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-lightbulb-o fa-3x"></i>
                <h1 class="wylCardHeaders">Entrepreneurship</h1>
              </div>

              <div class="col-md-4 col-xs-12  wow animated fadeInUp ">
                <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-usd fa-3x"></i>
                <h1 class="wylCardHeaders">Financial Management</h1>
              </div>

              <div class="col-md-4 col-xs-12  wow animated fadeInUp ">
                <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-briefcase fa-3x"></i>
                <h1 class="wylCardHeaders">Professional Development</h1>
              </div>
            </div>

            <div class="row">
            <div class="col-md-4 col-xs-12  wow animated fadeInUp ">
              <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-address-card fa-3x"></i>
              <h1 class="wylCardHeaders">Register a business</h1>
            </div>

            <div class="col-md-4 col-xs-12  wow animated fadeInUp ">
              <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-money fa-3x"></i>
              <h1 class="wylCardHeaders">Create a budget</h1>
            </div>

            <div class="col-md-4 col-xs-12  wow animated fadeInUp ">
              <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-briefcase fa-3x"></i>
              <h1 class="wylCardHeaders">Build relationships and establish boundaries</h1>
            </div>
          </div>

            <div class="row">
            <div class="col-md-4 col-xs-12 animated fadeInUp ">
              <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-lightbulb-o fa-3x"></i>
              <h1 class="wylCardHeaders">Brand products and services</h1>
            </div>

            <div class="col-md-4 col-xs-12  wow animated fadeInUp ">
              <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-usd fa-3x"></i>
              <h1 class="wylCardHeaders">Build credit and request loans</h1>
            </div>

            <div class="col-md-4 col-xs-12  wow animated fadeInUp ">
              <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-briefcase fa-3x"></i>
              <h1 class="wylCardHeaders">Present a professional self image</h1>
            </div>
          </div>
        </div>

          <!-- CONTACT -->
          <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">

                <div class="item active">
                  <img src="https://images.unsplash.com/photo-1485881787686-9314a2bc8f9b?dpr=1&auto=format&fit=crop&w=1500&h=969&q=80&cs=tinysrgb&crop" alt="Los Angeles" style="width:100%;">
                <!--<div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>LA is always so much fun!</p>
                  </div>-->
                </div>

                <div class="item">
                  <img src="https://images.unsplash.com/photo-1485872304698-0537e003288d?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop" alt="Chicago" style="width:100%;">
                <!--  <div class="carousel-caption">
                    <h3>Chicago</h3>
                    <p>Thank you, Chicago!</p>
                  </div>-->
                </div>

                <div class="item">
                  <img src="https://images.unsplash.com/photo-1485889397316-8393dd065127?dpr=1&auto=format&fit=crop&w=1500&h=843&q=80&cs=tinysrgb&crop" alt="New York" style="width:100%;">
                <!--  <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                  </div>-->
                </div>

                 <div class="item">
                  <img src="https://images.unsplash.com/photo-1485793997698-baba81bf21ab?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop" alt="New York" style="width:100%;">
                <!--  <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                  </div>-->
                </div>

              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>

    <!-- MAIN SECTION --><!-- MAIN SECTION --><!-- MAIN SECTION -->


    <!-- FOOTER SECTION --><!-- FOOTER SECTION --><!-- FOOTER SECTION -->



    <!-- FOOTER SECTION --><!-- FOOTER SECTION --><!-- FOOTER SECTION -->
  </body>
</html>
