<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <title>Start-Up, Youth Entrepreneurship</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Team Strength Detroit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- MAIN CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'qq.css' %}" />
  <!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest Bootstrap compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cedarville+Cursive|Loved+by+the+King|Snippet|Sue+Ellen+Francisco|Voltaire" rel="stylesheet">
  <!-- Hover -->
<link href="C:\Users\Marsha\EventExecs\src\app\navbar\hover.css">
  <!-- FontAwesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- AnimateCSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<!-- Lettering -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js">
<!-- WOW -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>


<!--
font-family: 'Voltaire', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Loved by the King', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Snippet', sans-serif;
-->

<script>
    $(function() {
      $(".img-w").each(function() {
        $(this).wrap("<div class='img-c'></div>")
        let imgSrc = $(this).find("img").attr("src");
         $(this).css('background-image', 'url(' + imgSrc + ')');
      })


      $(".img-c").click(function() {
        let w = $(this).outerWidth()
        let h = $(this).outerHeight()
        let x = $(this).offset().left
        let y = $(this).offset().top


        $(".active").not($(this)).remove()
        let copy = $(this).clone();
        copy.insertAfter($(this)).height(h).width(w).delay(500).addClass("active")
        $(".active").css('top', y - 8);
        $(".active").css('left', x - 8);

          setTimeout(function() {
        copy.addClass("positioned")
      }, 0)

      })




      })

      $(document).on("click", ".img-c.active", function() {
      let copy = $(this)
      copy.removeClass("positioned active").addClass("postactive")
      setTimeout(function() {
        copy.remove();
      }, 0)
      })
</script>
</head>

  <body style="">
    <!-- NAVIGATION BAR --><!-- NAVIGATION BAR --><!-- NAVIGATION BAR -->
    <nav class="navbar navbar-fixed-top" style="margin-bottom: -20px;">
      <div class="navbar-header">
      <a style="padding-top: -12px; font-size: 25px; font-family: 'Sue Ellen Francisco', cursive; text-align: center; display: block; color: white;" class="navbar-brand"  href="#"><img style=" height:50px; width:50px;" src="http://i.imgur.com/q0ULIpq.jpg?1"></a>
    </div>
      <div class="container-fluid">
        <ul style="float: left;"class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle menuText" data-toggle="dropdown" href="#">Projects
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a  class="menuText" href="{% url 'QQ' %}">Quarter Quts</a></li>
              <li><a  class="menuText" href="{% url 'SY' %}">Start-Up</a></li>
            </ul>
          </li>
          <li><a class="menuText" href="{% url 'blog' %}">BLOG</a></li>
<li><a style="color: gold;"class="menuText" href="{% url 'donate' %}">DONATE NOW</a></li>        </ul>
      </div>
</nav>





    <!-- NAVIGATION BAR --><!-- NAVIGATION BAR --><!-- NAVIGATION BAR -->

    <!-- MAIN SECTION --><!-- MAIN SECTION --><!-- MAIN SECTION -->
      <div class="container-fluid pageContainer">

          <!-- ABOUT -->
        <div class="row">
          <div class="col-md-12 about">

            <div class="headerMenu">

              <div class="photoMenu">
                <i style="color: rgba(52,117,147,0.9); margin-top: -10px; padding: 5px 15px; " class="fa fa-camera-retro fa-2x"></i><br>
                <button data-toggle="modal" data-target="#photoModal"  class="headerMenuText btn btn-danger">Photos</button>
              </div>

              <div class="contactForm">
                <i style="color: rgba(52,117,147,0.9); margin-top: -10px;  padding: 5px 18px;" class="fa fa-volume-control-phone fa-2x"></i><br>
                <button data-toggle="modal" data-target="#contactModal" class="headerMenuText btn btn-danger">Contact</button>
              </div>

            </div>


                <!-- MODAL -->
                <div id="photoModal" class="modal fade" role="dialog">

                <!-- Modal content-->

                  <div class="modal-body">
                    <div class="gallery animated slideInUp wow">
                      <div class="img-w">
                        <img src="https://images.unsplash.com/photo-1485766410122-1b403edb53db?dpr=1&auto=format&fit=crop&w=1500&h=846&q=80&cs=tinysrgb&crop=" alt="" /></div>
                      <div class="img-w"><img src="https://images.unsplash.com/photo-1485793997698-baba81bf21ab?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="" /></div>
                      <div class="img-w"><img src="https://images.unsplash.com/photo-1485871800663-71856dc09ec4?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=" alt="" /></div>
                      <div class="img-w"><img src="https://images.unsplash.com/photo-1485871882310-4ecdab8a6f94?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=" alt="" /></div>
                      <div class="img-w"><img src="https://images.unsplash.com/photo-1485872304698-0537e003288d?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="" /></div>
                      <div class="img-w"><img src="https://images.unsplash.com/photo-1485872325464-50f17b82075a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=" alt="" /></div>
                      <div class="img-w"><img src="https://images.unsplash.com/photo-1470171119584-533105644520?dpr=1&auto=format&fit=crop&w=1500&h=886&q=80&cs=tinysrgb&crop=" alt="" /></div>
                      <div class="img-w"><img src="https://images.unsplash.com/photo-1485881787686-9314a2bc8f9b?dpr=1&auto=format&fit=crop&w=1500&h=969&q=80&cs=tinysrgb&crop=" alt="" /></div>
                    </div><br>


                    <button style="
                    box-shadow: 0 2px 6px 0 rgba(255,255,255,0.24), 0 3px 10px 0 rgba(255,255,255,0.19);"

                    type="button" class="button button1" data-dismiss="modal" style="color: white;">Close</button>



            </div>
          </div>




          <div id="contactModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="margin-top: 50px;">
          <!-- Modal content-->

            <div class="modal-body">

              <form class=" animated slideInUp">
                <h1 class="fadeInDelayed" style="padding: 22px 0; font-size: 55px; font-family: 'Sue Ellen Francisco', cursive;
                text-align: center; display: block; color: black;">Quarter Quts</h1>
                {{ form.First_Name }} <br><br>
                {{ form.Last_Name }} <br><br>
                {{ form.from_email }}<br><br>
                {{ form.subject }} <br><br>
                {{ form.message }} <br><br>
                <button type="submit" style="float:center">Submit</button> </form>
              <div style="text-align: center;">
                <button style="margin-top: 20px; box-shadow: 0 2px 6px 0 rgba(255,255,255,0.24), 0 3px 10px 0 rgba(255,255,255,0.19);"
                type="button" class="button button1" data-dismiss="modal" style="color: white;">Close</button>
              </form>



          </div>
      </div>
      </div>
    </div>


            <h1 class="header animated slideInLeft wow">Quarter
            <h1 style="margin-top: 0px" class="header animated fadeInUpBig wow">Quts</h1></h1>
              <p class=" animated wow fadeInUp" style="width: 800px; margin: 0 auto; font-size: 20px; padding-top: 200px;">
                Quarter Quts random text goes here
              </p>
          </div>
        </div>
          <!-- WHAT YOUTH LEARN -->
        <div class="row">
          <div class="col-md-12 wyl">
            <h1 class="wylHeader">WHAT YOUTH LEARN</h1>

            <div class="row">
              <div class="col-md-4 col-xs-12 cardOne wow animated fadeInUp ">
                <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-lightbulb-o fa-3x"></i>
                <h1 class="wylCardHeaders">Entrepreneurship</h1>
                <ul style="font-size:15px;">
                  <li>Recognize business opportunities</li>
                  <li>Register a business</li>
                  <li>Brand a product or service</li>
                  <li>Incorporate ethics into the creation of a business</li>
                  <li>Use critical thinking and problem solving skills in business settings</li>
                </ul>
              </div>

              <div class="col-md-4 col-xs-12 cardTwo wow animated fadeInUp ">
                <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-usd fa-3x"></i>
                <h1 class="wylCardHeaders">Financial Management</h1>
                  <li>Create a budget</li>
                  <li>Organize the tracking of income and expenses</li>
                  <li>Determine financial projections and assess risks</li>
                  <li>Calculate taxes due at fiscal deadlines</li>
                  <li>Build credit and request loans</li>
              </div>

              <div class="col-md-4 col-xs-12 cardThree wow animated fadeInUp ">
                <i style="text-align:center;  display: inline-block; width: 100%; padding-top:20px;"class="fa fa-briefcase fa-3x"></i>
                <h1 class="wylCardHeaders">Professional Development</h1>
                  <li>Communicate effectively to diverse populations</li>
                  <li>Resolve conflict in a business setting</li>
                  <li>Build relationships and establish boundaries</li>
                  <li>Present a professional self image</li>
                  <li>Create business documents and presentations</li>
              </div>
            </div>
          </div>
        </div>



    <!-- MAIN SECTION --><!-- MAIN SECTION --><!-- MAIN SECTION -->


    <!-- FOOTER SECTION --><!-- FOOTER SECTION --><!-- FOOTER SECTION -->

    <div class="container-fluid footer">
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>

    <!-- FOOTER SECTION --><!-- FOOTER SECTION --><!-- FOOTER SECTION -->
  </body>
  </html>
